.section {
	font-size:1.2em;
	font-weight:bold;
	margin-top:15px;
	margin-bottom:0px;
	color: #1981d1;
}

legend {
    margin-left: 5%;
    padding-left: 2%;
    padding-right: 2%;
    font-size: 1.2em;
    font-weight: bold;
    word-wrap:none;
}
.border {
	margin-bottom: 12px;
    border-radius: 7px;
    border: gray;
    border-width: 1px;
    border-style: solid;
    box-shadow: 2px 2px 4px #b2b0b0;;	
}

.group {
	margin:12px;
}

.menu-toggle {
	font-size: 16px;
}

.quantity-field {
	text-align: center;
    width: 110px;
    margin-top: 20px;
}
.quantity {
    margin-top: 30px;
    display: flex;
}

.quantity-label {
    margin: 0px;
    margin-top: 6px;
    font-weight:bold;
}

.quantity-entry {
    width: 35px;
    text-align: center;
    margin-left: 8%;
}

.required {
	color: red;
}

.row {
	display: block;
}

.row-small {
	display: flex;
	width: 90%;
	margin-left: 2.5%;
}

.field {
	display: block;
}

.field-label {
	margin: 0px;
	margin-top:6px;
	margin-left:20px;
}

.small-text {
	font-size:0.8em;
}

.entry {
	width:95%;
	font-size: 16px;
}

.radio-label {
	margin-right:10px;
}

.radio-field {
	display:flex;
	margin-top:7px;
}

.radio-entry {
    width:15px;
    height:20px;
}

#location-state {
	width: 65px;
	font-size:16px;
}

#location-zip {
	width: 75px;
}

#image-upload {
	margin-top:7px;
    font-size: 12px;
}

.rack-item {
    display: flex;
    width: 265px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 30px;
}

.terms {
	font-size:  0.8em;
	list-style: decimal;
}

.nav-button {
	-webkit-appearance: button;	
	width:100px;
	font-size: 16px;
}


/* For larger screens */
@media (min-width: 900px) {
.row {
	display:flex;
}

.field-label {
	display:flex;
}
	
.field {
	width:100%;
}

#nameFirst-field {
	width:35%;
	margin-right:20px;
}

#nameLast-field {
	width:60%;
}

#business-field {
	width:400px;
	
}
#email-field {
	width:300px;
	margin-right:20px;
}

#phone-field {
	width:150px;
}

#address-field {
	width:450px;
}

#city-field {
	width:300px;
	margin-right:20px;
}

#state-field {
	width:100px;
}

#zip-field {
	width:100px;
}

#property-owner-field {
	width:450px;
}

.radio-field {
	width:200px;
}

.terms {
	width:95%;
	margin-right:30px;
}

}
